@media (min-width: 1440px){
}
@media (max-width:375px){
}
/* style for all element*/
*{
    font-family: Outfit, "sans-serif";
    text-align: center;
}

/*default styles for screen sizes*/
body{
    background-color: hsl(212, 45%, 89%);
    width: 100%;
}
.white-container{
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    height: 520px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.8em;
}
img{
   border-radius: 1.8em;
   margin: 1.5em; 
   height: 310px;
   width: 310px;
}
.text{
    text-align: center;
    letter-spacing: 1px;  
}

#bold-text{
    font-weight:700;
    color:hsl(218, 44%, 22%);
    font-size: 2em; 
    width: 13em;
    margin: 0 auto 0.5em auto;
     
}
#lighter-text{
    font-weight: 400;
    color:hsl(220, 15%, 55%);
    width: 20em;
    margin: 0 auto;
    font-size: 1.5em;
}  




















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }